<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.k2js.p1.member.charge.ChargeDAO">
	<update id="chargeSuccess" parameterType="memberVO">
		UPDATE KAKAOMEMBER SET CASH = #{cash} WHERE ID = #{id}
	</update>
	<update id="cancelMoneyCharge" parameterType="memberVO">
		UPDATE MEMBER SET CASH = #{cash} WHERE capaListNum = #{capaListNum}
	</update>
	<update id="chargeSuccess2" parameterType="memberVO">
		UPDATE MEMBER SET CASH = #{cash} WHERE ID = #{id}
	</update>
	<insert id="chargeResult" parameterType="chargeVO">
		INSERT INTO CHARGE VALUES (CHARGENUM_SEQ.NEXTVAL, #{userId},#{amount},#{chargeMethod},SYSDATE)
	</insert>
	<select id="chargeList" parameterType="memberVO" resultType="chargeVO">
		SELECT * FROM CHARGE WHERE ID = #{id}
	</select>
</mapper>