<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.k2js.p1.member.MemberDAO">

	<select id="memberLogin" parameterType="memberVO"
		resultType="memberVO">
		SELECT * FROM MEMBER WHERE ID = #{id} AND PW = #{pw}
	</select>
	<insert id="memberNew" parameterType="memberVO">
		INSERT INTO MEMBER VALUES
		(#{id},#{pw},#{name},#{phone},#{email},#{birth},#{gender},0)
	</insert>
	<update id="memberUpdate" parameterType="memberVO">
		UPDATE MEMBER SET
		PW=#{pw}, NAME=#{name}, PHONE=#{phone},EMAIL=#{email} WHERE ID=#{id}
	</update>
	<insert id="memberKakaoNew" parameterType="memberVO">
		INSERT INTO
		KAKAOMEMBER VALUES (#{id}, #{name}, #{birth}, #{gender},#{phone}, 0)
	</insert>

	<select id="memberKakaoLogin" parameterType="memberVO"
		resultType="memberVO">
		SELECT * FROM KAKAOMEMBER WHERE ID = #{id}
	</select>
</mapper>