<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.k2js.p1.notice.NoticeDAO">

	<sql id="search">
		like '%'||#{search}||'%'
	</sql>
	
	<resultMap type="NoticeVO" id="selectResult">
		<id column="num" property="num"/>
		<result column="title" property="title"/>
		<result column="writer" property="writer"/>
		<result column="contents" property="contents"/>
		<result column="regDate" property="regDate"/>
		<collection property="boardFileVOs" javaType="List" ofType="BoardFileVO">
			<id column="fileNum" property="fileNum"/>
			<result column="fileName" property="fileName"/>
			<result column="oriName" property="oriName"/>
			<result column="board" property="board"/>	
		</collection>
	
	</resultMap>

	<select id="boardList" parameterType="Pager" resultType="NoticeVO">
  		select * from
			(select N.*, rownum R from
				(select * from notice where 
				title <include refid="search"></include> or contents<include refid="search"></include> and num>=1 order by num desc) N)
		where R between #{startRow} and #{lastRow}
  	</select>
	
	
	<select id="boardCount" parameterType="Pager" resultType="Long">
		select count(num) from notice where
		title  <include refid="search"></include> or contents <include refid="search"></include>		
	</select>


	<select id="boardSelect" parameterType="Long" resultMap="selectResult">
		select N.*, F.*
		from notice N left join boardFile F
		on (N.num = F.num)
		where N.num=#{num}
	</select>
	
	
	<select id="boardNum" resultType="Long">
		select board_seq.nextval from dual
	</select>
	
	
	<insert id="boardWrite" parameterType="NoticeVO">
		insert into notice values(#{num},#{title},#{contents},#{writer},sysdate)
		<!-- insert into notice values(1,'good','gg','sonn',sysdate) -->
	</insert>
	
	
	<delete id="boardDelete" parameterType="Long">
		delete notice where num=#{num}
	</delete>
	
	
	<update id="boardUpdate" parameterType="NoticeVO">
		update notice set title=#{title}, contents=#{contents} where num=#{num}
	</update>

		
</mapper>