<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.k2js.p1.stadium.StadiumDAO">


<select id="stadiumSelect" parameterType="String" resultType="StadiumVO">
	select * from stadium where name=#{stadiumName}
</select>

<insert id="addStadium" parameterType="StadiumVO">
	insert into stadium values(#{name},#{address},#{location_w},#{location_k},#{stadiumSize},#{shower},#{parking},#{shoes},#{cloth},#{info})
</insert>

<select id="stadiumList" resultType="StadiumVO">
	select * from stadium
</select>



</mapper>